.ending-ao {
  height: 465px;
  width: 100%;
  padding: 0px 200px;
  margin-bottom: 28px;
  .ending-ao-main {
    height: 100%;
    width: 100%;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;

    .ending-ao-main-top {
      height: 55px;
      width: 100%;
      padding: 12px 15px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 8px;
      background-color: #fff;
      font-family: var(--fontFamily);
      img {
        width: 24px;
        height: 24px;
        fill: #424750;
      }
      span {
        font-size: 16px;
        color: #0c0c0c;
      }
    }
    .red-hr {
      height: 1px;
      width: 70px;
      display: block;
      margin-right: 19px;
      background-color: #ef394e;
      border: none;
      margin-bottom: 15px;
    }
    .ending-ao-main-bottom {
      height: 385px;
      width: 100%;
      position: relative;

      .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;

      }

      .swiper-slide {
        height: 385.57px;
        width: 192px !important;
        padding: 12px 8px;
        border-left: 1px solid #f0f0f1;
        background: #fff;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        font-family: var(--fontFamily);
        cursor: pointer;

        .swiper-slider-top {
          height: 26px;
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          img {
            height: 14px;
            width: 116px;
          }
        }

        .swiper-slide-middle {
          height: 226px;
          width: 100%;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;

          .product {
            height: 150px;
            width: 150px;
          }

          .product-name {
            height: 52px;
            width: 100%;
            line-height: 25px;
            font-size: 12px;
            color: #3f4064;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .slide-middle-bottom {
            height: 24px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            img {
              width: 18px;
              height: 18px;
              margin-left: 5px;
            }
            span {
              width: 88%;
              font-size: 11px;
            }
          }
        }

        .swiper-slide-bottom {
          height: calc(385.57px - 297.9px);
          width: 100%;
          display: flex;
          flex-flow: column wrap;

          .new-price {
            height: 33.5px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 4px;
            .percentage {
              height: 20px;
              width: 34px;
              padding-left: 2px;
              border-radius: 16px;
              text-align: center;
              line-height: 22px;
              background-color: #d32f2f;
              font-family: var(--fontFamily);
              font-size: 12px;
              color: #fff;
            }
            .price {
              height: 100%;
              width: 68%;
              text-align: left;
              line-height: 35px;
              font-family: var(--fontFamily);
              color: #3f4064;
            }
            .toman {
              width: 18px;
              height: 18px;
              fill: #424750;
            }
          }
          .old-price {
            height: 14px;
            width: 100%;
            text-align: left;
            padding-left: 20px;
            font-family: var(--fontFamily);
            font-size: 12px;
            color: #c0c2c5;
            text-decoration-line: line-through;
            margin-bottom: 12px;
          }

          .progress-bar{
            height: 4px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            overflow: hidden;

            .progress-right{
                height: 100%;
                width: 20%;
                background-color: #f0f0f1;
                border-radius: 9999px;
            }

            .progress-left{
                height: 100%;
                width: 80%;
                background-color: #ef394e;
                border-radius: 9999px;
            }
          }

          .time-text{
            height: 15.6px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-top: 4px;
            
            .text{
                height: 100%;
                width: 50%;

                .prc{
                    font-size: 10px;
                    color: #EF394E;
                    margin-left: 4px;
                }
                .sold{
                    font-size: 11px;
                    color: #81858B;
                }
            }

            .time {
                height: 100%;
                width: 50%;
                line-height: 27px;
                text-align: left;
                font-family: var(--fontFamily);
                font-size: 12px;
                color: #ef394e;
              }
          }
        }
      }

      .swiper-slide img {
        display: block;
        object-fit: contain;
      }
    }
  }
}

.ziro-opacity{
    opacity: 0 !important;
}
